.weather-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}

.weather-container > h1 {
  text-align: center;
  margin-bottom: 0;
}

.weather-container > h3 {
  text-align: center;
  margin-bottom: 0;
}

.weather-container > img {
  width: 100px;
  height: 100px;
}
