.productsList {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.productCard {
  border: 1px solid #888;
  padding: 5px;
  border-radius: 5px;
  background-color: whitesmoke;
}

.productCard:hover {
  background-color: white;
  cursor: pointer;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
