.game {
  min-height: 80vh;
  max-width: 500px;
  margin: 0 auto;
  font-size: calc(10px + 2vmin);

  .body {
    display: flex;

    .left {
      text-align: center;
      width: 50%;
      border: thin solid #ddd;

      .star {
        display: inline-block;
        margin: 0 15px;
        color: rgb(41, 32, 32);

        &:after {
          content: '\2605';
          font-size: 45px;
        }
      }

      .game-done {
        .message {
          font-size: 2rem;
          font-weight: bold;
          margin: 15px;
        }
      }
    }

    .right {
      text-align: center;
      padding: 10px;
      width: 50%;
      border: thin solid #ddd;

      .number {
        background-color: #eee;
        border: thin solid #ddd;
        width: 45px;
        height: 45px;
        margin: 10px;
        font-size: 25px;

        &:focus,
        &:active {
          outline: none;
          border: thin solid #ddd;
        }
      }
    }
  }

  .timer {
    color: #666;
    margin-top: 3px;
    margin-left: 3px;
  }
}
