@import 'bootstrap/scss/bootstrap';

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

a {
  text-decoration: none;
}

/* Theme styles for TestContext */
.theme-light {
  background-color: #ffffff;
  color: #000000;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.theme-dark {
  background-color: #1a1a1a;
  color: #ffffff;
  transition: background-color 0.3s ease, color 0.3s ease;
}
